.user {
  margin: 10px 20px 20px 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(59, 59, 59);
  text-align: left;
}

.userInfo {
  display: flex;
}

.userLink {
  width: 20%;
  color: rgb(59, 59, 59);
  text-decoration: none;
}

.userStatus {
  margin-bottom: 10px;
}